<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body>
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" th:with="hasTime = ${time.idTime != null}">
            <form id="idAddTimeForm" class="form-horizontal" th:object="${time}"
                  th:action="@{(${hasTime ? '/admin/time/editTimePart2' : '/admin/time/addTimePart2'})}" method="post">
                <div class="card-body mt-5 ml-5 mr-5 mb-5">
                    <div class="form-row">
                        <div class="col-lg-4 col-12">
                            <div class="form-group required">
                                <label class="control-label" for="idDay"> Jour :</label>
                                <div class="select-awesome" data-placement="right" maxlength="50">
                                    <label>
                                        <select id="idDay"
                                                class="form-control" required
                                                aria-invalid="false"
                                                name="idDay">
                                            <option></option>
                                            <th:block th:if="!${#lists.isEmpty(dayList)}">
                                                <option th:each="d : ${dayList}"
                                                        th:value="${d.idDay}"
                                                        th:text="${d.day}"
                                                        th:selected="${time?.day?.idDay} == ${d.idDay}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group required">
                                <label class="control-label" for="inputStartTime">Heure-début :</label>
                                <input class="form-control" id="inputStartTime" type="time" required
                                       th:field="*{startTime}"/>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group required">
                                <label class="control-label" for="inputEndTime">heure-fin :</label>
                                <input class="form-control" id="inputEndTime" type="time" step="300" required
                                       th:field="*{endTime}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col">
                            <p class="disclaimer red font-weight-bold m-0">(*)Ce champ est obligatoire</p>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{/admin/time/timeList}" class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <button th:if="${time.idTime == null}" id="saveButton" type="submit"
                                    class="btn btn-dark">
                                Ajouter
                            </button>

                            <button th:unless="${time.idTime == null}" id="editButton" type="submit"
                                    class="btn btn-dark">
                                Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/club/time.js}"></script>
</div>
<footer th:replace="footerAdmin"></footer>
</body>
</html>