<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body>
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" th:with="hasTime = ${time.idTime != null}">
            <form id="idAddTimeForm" class="form-horizontal" th:object="${time}"
                  th:action="@{(${hasTime ? '/admin/time/edit' : '/admin/time/addTime'})}" method="post">
                <div class="card-body mt-5 ml-5 mr-5 mb-5">
                    <input type="hidden" th:field="*{idTime}">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="idSchool"> Ecole :</label>
                                <div class="select-awesome" data-placement="right" maxlength="50">
                                    <label>
                                        <select id="idSchool" class="form-control selectSchool" required
                                                aria-invalid="false" name="idSchool">
                                            <option></option>
                                            <th:block th:if="!${#lists.isEmpty(schoolList)}">
                                                <option th:each="scho : ${schoolList}"
                                                        th:value="${scho.idSchool}"
                                                        th:text="${scho.name}"
                                                        th:selected="${time?.s?.idSchool} == ${scho.idSchool}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="idCoach"> Entraineur :</label>
                                <div class="select-awesome" data-placement="right" maxlength="50">
                                    <label>
                                        <select id="idCoach" class="form-control selectCoach" required
                                                aria-invalid="false" name="id">
                                            <option id="coachNull"></option>
                                            <th:block th:if="!${#lists.isEmpty(coachList)}">
                                                <option th:each="coach, row : ${coachList}" th:id="${'co' + row.index}"
                                                        th:value="${coach.id}" class="hidden coachList text-uppercase"
                                                        th:text="${coach.firstName} + ' ' + ${coach.lastName}"
                                                        th:name="${coach.school.idSchool}"
                                                        th:selected="${time?.co?.id} == ${coach.id}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="idCategory"> Categorie :</label>
                                <div id="coach" th:each="c , row: ${coachList}"
                                     class="js-row-link-alt coach">
                                    <div th:id="${'catCoach' + row.index}" th:name="${c.id}">
                                        <div th:each="cat, row : ${c.categoriesList}"
                                             class="js-row-link-alt categoryByCoach">
                                            <input type="hidden" th:id="${'catByCoach' + row.index}"
                                                   th:value="${cat.idCategory}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-awesome" data-placement="right" maxlength="50">
                                    <label>
                                        <select id="idCategory"
                                                class="form-control" required
                                                aria-invalid="false"
                                                name="idCategory">
                                            <option id="optionVide"></option>
                                            <th:block th:if="!${#lists.isEmpty(categoryList)}">
                                                <option th:each="category, row : ${categoryList}"
                                                        th:id="${'cat' + row.index}"
                                                        th:value="${category.idCategory}"
                                                        class="catList hidden"
                                                        th:text="${category.categoryName}"
                                                        th:selected="${time?.c?.idCategory} == ${category.idCategory}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label" for="idDay"> Jour :</label>
                                <div class="select-awesome" data-placement="right" maxlength="50">
                                    <label>
                                        <select id="idDay"
                                                class="form-control" required
                                                aria-invalid="false"
                                                name="idDay">
                                            <option></option>
                                            <th:block th:if="!${#lists.isEmpty(dayList)}">
                                                <option th:each="d : ${dayList}"
                                                        th:value="${d.idDay}"
                                                        th:text="${d.day}"
                                                        th:selected="${time?.day?.idDay} == ${d.idDay}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-12">
                            <div class="form-group required">
                                <label class="control-label" for="inputStartTime">Heure-début :</label>
                                <input class="form-control" id="inputStartTime" type="time" required
                                       th:field="*{startTime}"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group required">
                                <label class="control-label" for="inputEndTime">heure-fin :</label>
                                <input class="form-control" id="inputEndTime" type="time" step="300" required
                                       th:field="*{endTime}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group required">
                                <label class="control-label"> Type d'abonnement :</label>
                                <div id="chek" th:each="t, row : ${typeList}" class="js-row-link-alt">
                                    <input type="checkbox" th:id="${'checkbox' + row.index}" name="typeList[]"
                                           th:value="${t?.idType}"
                                           th:checked="${listType != null and listType.contains(t)}"
                                           class="checkboxGroup with-font"/>
                                    <label th:for="${'checkbox' + row.index}"
                                           th:text="${t?.nbrHours} + ' h'"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col">
                            <p class="disclaimer red font-weight-bold m-0">(*)Ce champ est obligatoire</p>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{/admin/time/timeList}" class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <button th:if="${time.idTime == null}" id="saveButton" type="submit"
                                    class="btn btn-dark">
                                Ajouter
                            </button>

                            <button th:unless="${time.idTime == null}" id="editButton" type="submit"
                                    class="btn btn-dark">
                                Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/club/time.js}"></script>
</div>
<footer th:replace="footerAdmin"></footer>
</body>
</html>