<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <th:block>
                <div>
                    <img th:src="@{/images/taekwondo-5.jpg}" class="img-card">
                </div>
            </th:block>
            <th:block>
                <div class="card-body" th:with="hasSubscription = ${subscription.idSubscription != null}">
                    <div class="row justify-content-center">
                        <h1 class="font-weight-bold my-4">Choisir votre Ecole</h1>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-bold my-4"> Tranche d'âge :</h5>
                        <span class="font-weight-bold my-4" th:text="${cat.categoryName}"></span>
                    </div>
                    <div th:if="${messageError}">
                        <p class="error" th:text="${messageError}"></p>
                    </div>
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <form id="idAddSubscriptionForm" class="form-horizontal mt-5 ml-5 mr-5 mb-5"
                              th:object="${subscription}"
                              th:action="@{(${hasSubscription ? '/editSubscription' : '/addSubscription/' + cat.idCategory})}"
                              method="post">
                            <input type="hidden" th:field="*{idSubscription}">
                            <th:block th:with="hasSchool=${!#lists.isEmpty(schoolList)}">
                                <th:block th:if="!${#lists.isEmpty(schoolList)}">
                                    <div class="card-body card-border">
                                        <table id="schoolTable"
                                               class="table table-fixed table-striped"
                                               th:classappend="${hasSchool} ? 'table-hover'">
                                            <tbody class="list" id="schoolList">
                                            <th:block th:if="${hasSchool}">
                                                <tr id="inputSchool" th:each="scho, row : ${schoolList}"
                                                    class="rowSchool js-row-link-alt">
                                                    <td class="text-center py-5">
                                                        <input type="radio" th:id="${row.index}"
                                                               onclick="formFunction()"
                                                               name="id" th:value="${scho.getId()}"
                                                               class="checkboxGroup with-font"/>
                                                        <label th:for="${row.index}"></label>
                                                    </td>
                                                    <td class="text-center py-5">
                                                        <h3 class="text-uppercase font-weight-bold"
                                                            th:text="${scho?.name}"></h3>
                                                    </td>
                                                    <td class="text-center py-5">
                                                        <span th:text="${scho?.address?.street} + ', ' + ${scho?.address?.number} + ', ' + ${scho?.address?.city?.postalCode} + ', ' + ${scho?.address?.city?.cityName}"></span>
                                                    </td>
                                                    <td class="text-center py-5">
                                                        <div class="form-group required hidden"
                                                             th:id="${'addSelect'+ row.index}">
                                                            <div class="form-row">
                                                                <label class="control-label"
                                                                       th:for="${'idPeriod'+ row.index}"> Durée
                                                                    d'abonnement :</label>
                                                                <div class="select-awesome" data-placement="right">
                                                                    <label>
                                                                        <select th:id="${'idPeriod'+ row.index}"
                                                                                class="form-control calculateDate"
                                                                                aria-invalid="false"
                                                                                name="subscriptionPeriod.id">
                                                                            <option></option>
                                                                            <th:block
                                                                                    th:if="!${#lists.isEmpty(periodList)}">
                                                                                <option th:each="p : ${periodList}"
                                                                                        th:value="${p.id}"
                                                                                        th:text="${p.period} +' (' + ${p.description} +')'"
                                                                                        th:selected="${subscription?.subscriptionPeriod?.id} == ${p.id}">
                                                                                </option>
                                                                            </th:block>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <label class="control-label"
                                                                       th:for="${'idType'+ row.index}"> Type
                                                                    d'abonnement :</label>
                                                                <div class="select-awesome" data-placement="right">
                                                                    <label>
                                                                        <select th:id="${'idType'+ row.index}"
                                                                                class="form-control"
                                                                                aria-invalid="false"
                                                                                name="subscriptionType.idType">
                                                                            <option></option>
                                                                            <th:block
                                                                                    th:if="!${#lists.isEmpty(typeList)}">
                                                                                <option th:each="t : ${typeList}"
                                                                                        th:value="${t.idType}"
                                                                                        th:text="${t.nbrHours} +' (' + ${t.description} +')'"
                                                                                        th:selected="${subscription?.subscriptionType?.idType} == ${t.idType}">
                                                                                </option>
                                                                            </th:block>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-4 form-group required">
                                                                    <label class="control-label"
                                                                           th:for="${'startDate'+ row.index}"> Date
                                                                        de début: </label>
                                                                    <div class="input-group date">
                                                                        <input type="text"
                                                                               class="form-control" date="startDate"
                                                                               th:id="${'startDate'+ row.index}"
                                                                               data-inputmask-alias="fh_date"
                                                                               th:value="${subscription.startDate}"/>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text calculateDate"><i
                                                                                    class="far fa-calendar-alt"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-4 form-group required">
                                                                    <label class="control-label"
                                                                           th:for="${'endDate'+ row.index}"> Date
                                                                        de fin: </label>
                                                                    <div class="form-row">
                                                                        <ul class="hidden" id="nbrMonth">
                                                                            <li th:each="parameter : ${parameters}"
                                                                                th:name="${parameter.key}" type="hidden"
                                                                                th:value="${parameter.value}">
                                                                            </li>
                                                                        </ul>
                                                                        <div class="input-group date">
                                                                            <input type="text" class="form-control"
                                                                                   readonly
                                                                                   data-inputmask-alias="fh_date"
                                                                                   th:id="${'endDate'+ row.index}"
                                                                                   date="endDate"
                                                                                   th:value="${subscription?.endDate}"/>
                                                                            <div class="input-group-append">
                                                                            <span class="input-group-text"><i
                                                                                    class="far fa-calendar-alt"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </th:block>
                            </th:block>
                            <!--                            <div class="form-row">-->
                            <!--                                <div class="col-lg-6 col-12">-->
                            <!--                                    <div class="form-group required">-->
                            <!--                                        <label class="control-label" for="idCategory"> Categorie :</label>-->
                            <!--                                        <input id="idCategory" th:value="${cat?.categoryName}" disabled/>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="form-row">-->
                            <!--                                <div class="col-lg-6 col-12">-->
                            <!--                                    <div class="form-group required">-->
                            <!--                                        <label class="control-label" for="idSchool"> Ecole :</label>-->
                            <!--                                        <div class="select-awesome" data-placement="right" maxlength="50">-->
                            <!--                                            <label>-->
                            <!--                                                <select id="idSchool"-->
                            <!--                                                        class="form-control reference" required-->
                            <!--                                                        aria-invalid="false"-->
                            <!--                                                        name="id">-->
                            <!--                                                    <option></option>-->
                            <!--                                                    <th:block th:if="!${#lists.isEmpty(schoolList)}">-->
                            <!--                                                        <option th:each="scho : ${schoolList}"-->
                            <!--                                                                th:value="${scho.id}"-->
                            <!--                                                                th:text="${scho.name}"-->
                            <!--                                                                th:selected="${subscription?.school?.id} == ${scho.id}">-->
                            <!--                                                        </option>-->
                            <!--                                                    </th:block>-->
                            <!--                                                </select>-->
                            <!--                                            </label>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->

                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="form-row">-->
                            <!--                                <div class="col-lg-6 col-12">-->
                            <!--                                    <div class="form-group required">-->
                            <!--                                        <label class="control-label" for="idPeriod"> Durée d'abonnement :</label>-->
                            <!--                                        <div class="select-awesome" data-placement="right" maxlength="50">-->
                            <!--                                            <label>-->
                            <!--                                                <select id="idPeriod"-->
                            <!--                                                        class="form-control" required-->
                            <!--                                                        aria-invalid="false"-->
                            <!--                                                        name="id">-->
                            <!--                                                    <option></option>-->
                            <!--                                                    <th:block th:if="!${#lists.isEmpty(periodList)}">-->
                            <!--                                                        <option th:each="p : ${periodList}"-->
                            <!--                                                                th:value="${p.id}"-->
                            <!--                                                                th:text="${p.period} +' (' + ${p.description} +')'"-->
                            <!--                                                                th:selected="${subscription?.subscriptionPeriod?.id} == ${p.id}">-->
                            <!--                                                        </option>-->
                            <!--                                                    </th:block>-->
                            <!--                                                </select>-->
                            <!--                                            </label>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-lg-6 col-12">-->
                            <!--                                    <div class="form-group required">-->
                            <!--                                        <label class="control-label" for="idType"> Type d'abonnement :</label>-->
                            <!--                                        <div class="select-awesome" data-placement="right" maxlength="50">-->
                            <!--                                            <label>-->
                            <!--                                                <select id="idType"-->
                            <!--                                                        class="form-control" required-->
                            <!--                                                        aria-invalid="false"-->
                            <!--                                                        name="idType">-->
                            <!--                                                    <option></option>-->
                            <!--                                                    <th:block th:if="!${#lists.isEmpty(typeList)}">-->
                            <!--                                                        <option th:each="t : ${typeList}"-->
                            <!--                                                                th:value="${t.idType}"-->
                            <!--                                                                th:text="${t.nbrHours} +' (' + ${t.description} +')'"-->
                            <!--                                                                th:selected="${subscription?.subscriptionType?.id} == ${t.idType}">-->
                            <!--                                                        </option>-->
                            <!--                                                    </th:block>-->
                            <!--                                                </select>-->
                            <!--                                            </label>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="card-footer">
                                <!--                                <input type="hidden" id="period" th:name="${subscriptionPeriod.id}"/>-->
                                <!--                                <input type="hidden" id="type" th:name="${subscriptionType.idType}"/>-->
                                <!--                                <input type="hidden" id="startD"  date="startDate"/>-->
                                <!--                                <input type="hidden" id="endD"  date="endDate"/>-->

                                <div class="row align-items-end justify-content-end">
                                    <div class="col-auto">
                                        <a th:href="@{/subscription}" class="btn btn-dark"> Précédent </a>
                                    </div>
                                    <div class="col-auto">
                                        <button th:if="*{idSubscription == null}" id="saveButton" type="submit"
                                                onclick="inputButton()"
                                                class="btn btn-dark">
                                            Ajouter
                                        </button>

                                        <button th:unless="*{idSubscription == null}" id="editButton" type="submit"
                                                class="btn btn-dark">
                                            Modifier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </th:block>
        </main>
    </div>
</div>
<th:block>
    <footer th:replace="footer">
    </footer>
</th:block>
<script type="text/javascript" th:src="@{/js/club/subscription.js}"></script>
</body>
</html>