<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <th:block>
                <div>
                    <img th:src="@{/images/taekAdult.jpg}" class="img-card">
                </div>
            </th:block>
            <th:block>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <h1 class="font-weight-bold my-4">Inscription</h1>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-bold my-4"> Tranche d'âge : </h5>
                        <span class="font-weight-bold my-4 text-uppercase"
                              th:text="${subscription.categories.categoryName}"></span>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="font-weight-bold my-4"> Ecole : </h5>
                        <span class="font-weight-bold my-4 text-uppercase" th:text="${subscription.school.name}"></span>
                    </div>
                    <div th:if="${messageError}" class="row justify-content-center py-5">
                        <p class="error" th:text="${messageError}"></p>
                    </div>
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <form id="idAddStudentForm" class="form-horizontal mt-5 ml-5 mr-5 mb-5" th:object="${student}"
                              th:action="@{(${'/user/addStudent/' + subscription.idSubscription})}" method="post"
                              onsubmit="return checkModNationalNumber()">
                            <input type="hidden" th:field="*{idStudent}" name="idStudent"/>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label mb-1" for="firstName">Prénom :</label>
                                        <input class="form-control" id="firstName" type="text" required name="firstName"
                                               th:field="*{firstName}"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label mb-1" for="name">Nom :</label>
                                        <input class="form-control" id="name" type="text" required name="name"
                                               th:field="*{name}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="inputEmailAddress">Email :</label>
                                        <input class="form-control" id="inputEmailAddress" type="email"
                                               name="email"
                                               th:field="*{email}" aria-describedby="emailHelp"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="gsm"> GSM :</label>
                                        <input class="form-control" id="gsm" type="text" name="gsm"
                                               th:field="*{gsm}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4 form-group required">
                                    <label class="control-label" for="birthDay"> Date de naissance: </label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" name="birthDay" id="birthDay"
                                               data-inputmask-alias="fh_date"
                                               th:field="*{birthDay}"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text calculateDate"><i
                                                    class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 form-group required">
                                    <label class="control-label" for="nationalRegistry"> Numero de registre national
                                        : </label>
                                    <input type="text" class="form-control" id="nationalRegistry"
                                           data-inputmask-alias="fh_rrn" name="nationalRegistry"
                                           th:field="*{nationalRegistry}" maxlength="15"/>
                                    <span class="error" id="errorNationalRegistry"></span>

                                </div>
                            </div>
                            <input type="hidden" th:field="*{address.id}">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="street"> Rue :</label>
                                        <input id="street" type="text" class="form-control" name="street"
                                               data-placement="right" required
                                               maxlength="50" th:field="*{address.street}"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="number"> Numero :</label>
                                        <input id="number" type="text" class="form-control" name="number" required
                                               data-placement="right"
                                               maxlength="50" th:field="*{address.number}"/>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="postalCode"> Code postal:</label>
                                        <input id="postalCode" type="text" class="form-control" name="postalCode"
                                               required
                                               data-placement="right"
                                               maxlength="50" th:field="*{address.city.postalCode}"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class="control-label" for="idCity"> Ville :</label>
                                        <div class="select-awesome" data-placement="right" maxlength="50">
                                            <label>
                                                <select id="idCity"
                                                        class="form-control" required
                                                        aria-invalid="false"
                                                        name="idCity">
                                                    <option></option>
                                                    <th:block th:if="!${#lists.isEmpty(cityList)}">
                                                        <option th:each="city : ${cityList}"
                                                                th:value="${city.idCity}"
                                                                th:text="${city.cityName}"
                                                                th:selected="${student?.address?.city?.idCity} == ${city.idCity}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">

                                <div class="row align-items-end justify-content-end">
                                    <div class="col-auto">
                                        <a th:href="@{(${'/user/addSubscriptionPart2/' + subscription.idSubscription})}"
                                           class="btn btn-dark"> Précédent </a>
                                    </div>
                                    <div class="col-auto">
                                        <button id="saveButton" type="submit" class="btn btn-dark"> Suivant</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </th:block>
        </main>
    </div>
</div>
<th:block>
    <footer th:replace="footer">
    </footer>
</th:block>
<script type="text/javascript" th:src="@{/js/club/student.js}"></script>
</body>
</html>