<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div id="layoutSidenav_content">
    <main>
        <th:block>
            <div>
                <img th:src="@{/images/taekwondo-5.jpg}" class="img-card">
            </div>
        </th:block>
        <th:block>
            <div class="card-body  mt-5 mb-5 ml-5 mr-5">
                <div th:if="${messageError}">
                    <p class="error" th:text="${messageError}"></p>
                </div>
                <th:block th:with="hasContactPerson=${contactPersonList.size() != 0}">
                    <th:block th:if="${hasContactPerson}">
                        <div class="card-body card-border">
                            <table id="contactPersonTable"
                                   class="table table-fixed table-striped"
                                   th:classappend="${hasContactPerson} ? 'table-hover'">
                                <thead>
                                <tr>
                                    <th class="cell--seven">
                                        <span> Nom </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> E-mail </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> GSM </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> Lien de parenté </span>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="list" id="coachList">
                                <th:block th:if="${hasContactPerson}">
                                    <tr th:each="contactPerson, row : ${contactPersonList}" class="js-row-link-alt">
                                        <td>
                                            <span th:text="${contactPerson.value?.personFirstName} +'  ' + ${contactPerson.value?.personName}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${contactPerson.value?.email}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${contactPerson.value?.gsm}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${contactPerson.key}"></span>
                                        </td>
                                        <td>
                                            <a th:href="${'/user/editContactPerson/'+ contactPerson.value?.idPerson  + '/' + student.idStudent}"
                                               class="btn btn-link fa fa-edit"></a>
                                            <a class="btn btn-link fa fa-trash-alt"
                                               th:attr="data-target='#modal-delete'+${contactPerson.value?.idPerson}"
                                               data-rel="tooltip" title="delete" data-toggle="modal"></a>

                                            <div th:id="modal-delete+${contactPerson.value?.idPerson}"
                                                 class="modal fade"
                                                 tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header no-padding">
                                                            <div class="table-header">Suppression</div>
                                                        </div>
                                                        <div class="modal-body no-padding">Vous étes sur de
                                                            supprimer cet entraineur?
                                                        </div>
                                                        <div class="modal-footer no-margin-top">
                                                            <button class="btn btn-danger pull-left"
                                                                    data-dismiss="modal"> Annuler
                                                            </button>
                                                            <a class="btn btn-danger pull-right" type="button"
                                                               th:href="${'/user/deleteContactPerson/'+ contactPerson?.value?.idPerson + '/' + student.idStudent}">
                                                                Supprimer
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </th:block>

                <th:block th:if="${contactPersonList.size() == 0}">
                    <h5 class="align-content-center text-center"> Vous n'avez aucune personne de contact. </h5>
                </th:block>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col-auto">
                            <a th:href="@{(${'/user/addContactPerson/' + student.idStudent})}"
                               class="btn btn-dark"> Ajouter une autre personne </a>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{(${'/user/addStudent/' + subscription.idSubscription})}"
                               class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{(${'/user/summary/' + subscription.idSubscription})}"
                               class="btn btn-dark"> Suivant </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </main>
</div>
<footer th:replace="footer">
</footer>
</body>
</html>