<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<main>
    <div class="row justify-content-center">
        <div class="col-lg-5 card-info">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <th:block th:with="hasContactPerson=${personList.size() != 0}">
                    <th:block th:if="${hasContactPerson}">
                        <div class="card-body card-border">
                            <table id="contactPersonTable"
                                   class="table table-fixed table-striped"
                                   th:classappend="${hasContactPerson} ? 'table-hover'">
                                <thead>
                                <tr>
                                    <th class="cell--seven">
                                        <span> Nom </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> E-mail </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> GSM </span>
                                    </th>
                                    <th class="cell--twenty">
                                        <span> Lien de parenté </span>
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="list" id="coachList">
                                <th:block th:if="${hasContactPerson}">
                                    <tr th:each="person, row : ${personList}" class="js-row-link-alt">
                                        <td>
                                            <span th:text="${person.value?.personFirstName} +'  ' + ${person.value?.personName}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${person.value?.email}"></span>
                                        </td>
                                        <td>
                                            <span th:text="'0'+ ${person.value?.gsm}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${person.key}"></span>
                                        </td>
                                        <td>
                                            <a th:href="${'/user/editContactPerson/'+ person.value?.idPerson  + '/' + subscription.student.idStudent}"
                                               class="btn btn-link fa fa-edit"></a>
                                            <a class="btn btn-link fa fa-trash-alt"
                                               th:attr="data-target='#modal-delete'+${person.value?.idPerson}"
                                               data-rel="tooltip" title="delete" data-toggle="modal"></a>

                                            <div th:id="modal-delete+${person.value?.idPerson}"
                                                 class="modal fade"
                                                 tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header no-padding">
                                                            <div class="table-header">Suppression</div>
                                                        </div>
                                                        <div class="modal-body no-padding">Vous étes sur de
                                                            supprimer cet entraineur?
                                                        </div>
                                                        <div class="modal-footer no-margin-top">
                                                            <button class="btn btn-danger pull-left"
                                                                    data-dismiss="modal"> Annuler
                                                            </button>
                                                            <a class="btn btn-danger pull-right" type="button"
                                                               th:href="${'/user/deleteContactPerson/'+ person?.value?.idPerson + '/' + subscription.student.idStudent}">
                                                                Supprimer
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </th:block>

                <th:block th:if="${personList.size() == 0}">
                    <h5 class="align-content-center text-center mt-5"> Vous n'avez aucune personne de contact. </h5>
                </th:block>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col-auto">
                            <div class="col-auto">
                                <a th:href="@{/user/mySubscription}" class="btn btn-dark"> Précédent </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{(${'/user/addContactPerson/' + subscription.student.idStudent})}"
                               class="btn btn-dark"> Ajouter une autre personne </a>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>
        </div>
    </div>
</main>
<footer class="footer" th:replace="footer">
</footer>
</body>
</html>