<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="card-body">
                <th:block th:with="hasSchool=${!#lists.isEmpty(schoolList)}">
                    <th:block th:if="!${#lists.isEmpty(schoolList)}">
                        <div class="card-body card-border">
                            <table id="schoolTable"
                                   class="table table-fixed table-striped"
                                   th:classappend="${hasSchool} ? 'table-hover'">
                                <thead>
                                <tr>
                                    <th class="justify-content-center cell--twenty">
                                        <span> Ecole </span>
                                    </th>
                                    <th>
                                        <span> Horaire </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list" id="coachList">
                                <th:block th:if="${hasSchool}">
                                    <tr th:each="scho, row : ${schoolList}" class="js-row-link-alt">
                                        <td align="center">
                                            <img class="rounded align-content-center"
                                                 th:src="@{${scho.fullUrlImg}}" width="170" height="113"/>
                                        </td>
                                        <td>
                                            <table id="timeTable"
                                                   class="table table-fixed table-striped">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span> Jour </span>
                                                    </th>
                                                    <th>
                                                        <span> Horaire </span>
                                                    </th>
                                                    <th>
                                                        <span> Catégorie </span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="list" id="timeBySchool">
                                                <input type="hidden" name="school" th:value="${scho.id}">
                                                <tr th:each="t, row : ${scho.getTimeTables()}" class="js-row-link-alt">
                                                    <td>
                                                        <span th:text="${t?.day?.day}"></span>
                                                    </td>
                                                    <td>
                                                        <span th:text="${t?.startTime} + ' - '+ ${t?.endTime}"></span>
                                                    </td>
                                                    <td>
                                                        <span th:text="${t?.c?.categoryName}"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </main>
</div>
<footer th:replace="footer">
</footer>
</body>
</html>