<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

    <meta http-equiv="Content-Language" content="fr-FR">

    <title>Inscription en ligne</title>

    <meta name="description" content=""/>

    <meta name="keywords" content=""/>

    <meta name="robots" content="index,follow"/>

</head>

<body>

<FORM METHOD="POST" th:action="@{/paymentSucces}" Name="Ajouter">

    <INPUT TYPE="HIDDEN" NAME="ps_store_id" VALUE="AZNUEtore3">

    <INPUT TYPE="HIDDEN" NAME="hpp_key" VALUE="hpX9BVA12NAM">

    <!--MORE OPTIONAL VARIABLES CAN BE DEFINED HERE -->

    <INPUT TYPE="HIDDEN" NAME="response_order_id" th:value="${#request.getParameter('order_id')}">

    <INPUT TYPE="HIDDEN" NAME="auth" th:value="${#request.getParameter('auth')}">

    <INPUT TYPE="HIDDEN" NAME="lang" VALUE="fr-FR">

</FORM>

<footer th:replace="footerAdmin">
</footer>
<span id="js-template-global"
      th:attr="data-succes-url=@{/paymentSucces}"></span>
<script type="text/javascript" th:src="@{/js/club/succes.js}"></script>

</body>

</html>
