<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <th:block>
                <div>
                    <img th:src="@{/images/t.jpg}" class="img-card">
                </div>
            </th:block>
            <th:block>

            </th:block>
        </main>
    </div>
</div>
<th:block>
    <footer th:replace="footer">
    </footer>
</th:block>
</body>
</html>