<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="card-body">
                <th:block th:with="hasTariff=${!#lists.isEmpty(tariffList)}">
                    <th:block th:if="!${#lists.isEmpty(tariffList)}">
                        <div class="card-body card-border">
                            <table id="tariffTable"
                                   class="table table-fixed table-striped"
                                   th:classappend="${hasTariff} ? 'table-hover'">
                                <tbody class="list" id="coachList">
                                <th:block th:if="${hasTariff}">
                                    <tr th:each="category, row : ${categoryList}" class="js-row-link-alt">
                                        <td align="center" class="py-5">
                                            <span th:text="${category?.categoryName}"></span>
                                        </td>
                                        <td align="center" class="py-5" th:each="per, row : ${periodList}">
                                            <span th:text="${per?.period}"></span>
                                            <table id="typeTable" class="table table-fixed table-striped">
                                                <tbody class="list" id="type">
                                                <tr>
                                                    <td th:each="ty, row : ${typeList}" class="js-row-link-alt">
                                                        <span th:text="${ty?.nbrHours} +'( '+ ${ty?.description} + ' )'"></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <!--                                            <table id="periodTable"-->
                                            <!--                                                   class="table table-fixed table-striped">-->
                                            <!--                                                <tbody class="list" id="period">-->
                                            <!--                                                <tr th:each="per, row : ${periodList}" class="js-row-link-alt">-->
                                            <!--                                                    <td align="center" class="py-5">-->
                                            <!--                                                        <span th:text="${per?.period}"></span>-->
                                            <!--                                                    </td>-->
                                            <!--                                                    <td>-->
                                            <!--                                                        <table id="typeTable" class="table table-fixed table-striped">-->
                                            <!--                                                            <tbody class="list" id="type">-->
                                            <!--                                                            <tr th:each="ty, row : ${typeList}"-->
                                            <!--                                                                class="js-row-link-alt">-->
                                            <!--                                                                <td align="center" class="py-5">-->
                                            <!--                                                                    <span th:text="${ty?.nbrHours} +'( '+ ${ty?.description} + ' )'"></span>-->
                                            <!--                                                                </td>-->
                                            <!--                                                            </tr>-->
                                            <!--                                                            </tbody>-->
                                            <!--                                                        </table>-->
                                            <!--                                                    </td>-->
                                            <!--                                                </tr>-->
                                            <!--                                                </tbody>-->
                                            <!--                                            </table>-->
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </main>
</div>
</body>
</html>