<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body>
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" th:with="hasSchool = ${school.id != null}">
            <form id="idAddSchoolForm" class="form-horizontal" th:object="${school}"
                  th:action="@{(${hasSchool ? '/admin/school/edit' : '/admin/school/addSchool'})}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="school">Nom de l'ecole :</label>
                    <input id="school" type="text" class="form-control py-4" name="name" data-placement="right"
                           maxlength="50" th:field="*{name}"/>
                </div>

                <input type="hidden" th:field="*{address.id}">
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="street"> Rue :</label>
                    <input id="street" type="text" class="form-control py-4" name="street" data-placement="right"
                           maxlength="50" th:field="*{address.street}"/>
                </div>
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="number"> Numero :</label>
                    <input id="number" type="text" class="form-control py-4" name="number" data-placement="right"
                           maxlength="50" th:field="*{address.number}"/>
                </div>

                <input type="hidden" th:field="*{address.city.id}">
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="postalCode"> Code postal:</label>
                    <input id="postalCode" type="text" class="form-control py-4" name="postalCode"
                           data-placement="right"
                           maxlength="50" th:field="*{address.city.postalCode}"/>
                </div>
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="cityName"> Ville :</label>
                    <input id="cityName" type="text" class="form-control py-4" name="cityName" data-placement="right"
                           maxlength="50" th:field="*{address.city.cityName}"/>
                </div>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <!--                        <div class="col">-->
                        <!--                            <p class="disclaimer red font-weight-bold m-0">Ce champ est obligatoire</p>-->
                        <!--                        </div>-->
                        <div class="col-auto">
                            <a th:href="@{/admin/school/schoolList}" class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <button th:if="${school.id == null}" id="saveButton" type="submit" class="btn btn-dark">
                                Ajouter
                            </button>

                            <button th:unless="${school.id == null}" id="editButton" type="submit" class="btn btn-dark">
                                Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<footer th:replace="footerAdmin"></footer>
</body>
</html>