<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body>
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" th:with="hasSchool = ${school.idSchool != null}">
            <form id="idAddSchoolForm" class="form-horizontal" th:object="${school}"
                  th:action="@{(${hasSchool ? '/admin/school/edit' : '/admin/school/addSchool'})}" method="post"
                  enctype="multipart/form-data">
                <div class="card-body mt-5 ml-5 mr-5 mb-5">
                    <div th:if="${messageError}">
                        <p class="error" th:text="${messageError}"></p>
                    </div>
                    <input type="hidden" th:field="*{idSchool}">
                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label" for="school">Nom de l'ecole :</label>
                        <input id="school" type="text" class="form-control py-4" name="name" required
                               data-placement="right"
                               maxlength="50" th:field="*{name}"/>
                    </div>

                    <input type="hidden" th:field="*{address.id}">
                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label" for="street"> Rue :</label>
                        <input id="street" type="text" class="form-control py-4" name="street" required
                               data-placement="right"
                               maxlength="50" th:field="*{address.street}"/>
                    </div>
                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label" for="number"> Numero :</label>
                        <input id="number" type="text" class="form-control py-4" name="number" required
                               data-placement="right"
                               maxlength="50" th:field="*{address.number}"/>
                    </div>

                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label" for="postalCode"> Code postal:</label>
                        <input id="postalCode" type="text" class="form-control py-4" required name="postalCode"
                               data-placement="right"
                               maxlength="50" th:field="*{address.city.postalCode}"/>
                    </div>

                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label" for="idCity"> Ville :</label>
                        <div class="select-awesome" data-placement="right" maxlength="50">
                            <label>
                                <select id="idCity"
                                        class="form-control" required
                                        aria-invalid="false"
                                        name="idCity">
                                    <option></option>
                                    <th:block th:if="!${#lists.isEmpty(cityList)}">
                                        <option th:each="city : ${cityList}"
                                                th:value="${city.idCity}"
                                                th:text="${city.cityName}"
                                                th:selected="${school?.address?.city?.idCity} == ${city.idCity}">
                                        </option>
                                    </th:block>
                                </select>
                            </label>
                        </div>

                    </div>
                    <div class="form-group required col-6 col-lg-8">
                        <div class="input-group input-file" name="file">
                            <input id="imgURL" type="text" class="form-control required" accept="image/jpeg"/>
                            <span class="input-group-btn">
                                <button class="btn btn-dark"
                                        type="button"><i class="fa fa-upload"></i> Télécharger </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group required col-6 col-lg-8">
                        <label class="control-label"> Catégorie :</label>
                        <div id="chek" th:each="category, row : ${categoryList}" class="js-row-link-alt">
                            <input type="checkbox" th:id="${'checkbox' + row.index}" name="categoriesList[]"
                                   th:value="${category?.idCategory}"
                                   th:checked="${listCat != null and listCat.contains(category)}"
                                   class="checkboxGroup with-font"/>
                            <label th:for="${'checkbox' + row.index}"
                                   th:text="${category?.categoryName}"></label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col">
                            <p class="disclaimer red font-weight-bold m-0"></p>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{/admin/school/schoolList}" class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <button th:if="${school.idSchool == null}" id="saveButton" onclick="validCheckbox()"
                                    type="submit"
                                    class="btn btn-dark">
                                Ajouter
                            </button>

                            <button th:unless="${school.idSchool == null}" id="editButton" onclick="validCheckbox()"
                                    type="submit" class="btn btn-dark">
                                Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/club/school.js}"></script>
</div>
<footer th:replace="footerAdmin"></footer>
</body>
</html>