<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<main>
    <div class="container-body">
        <div class="card-body">
            <th:block th:with="hasStudent=${!#lists.isEmpty(subscriptionStudentList)}">
                <th:block th:if="!${#lists.isEmpty(subscriptionStudentList)}">
                    <div class="card-body card-border">
                        <div class="form-row">
                            <div class="col-auto">
                                <p class="font-weight-bold"> Catégorie : </p>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <div class="select-awesome" data-placement="right">
                                        <label>
                                            <select id="idCategory" class="form-control selectCat" aria-invalid="false"
                                                    name="idCategory">
                                                <option></option>
                                                <th:block th:if="!${#lists.isEmpty(categoryList)}">
                                                    <option th:each="category : ${categoryList}"
                                                            th:value="${category.idCategory}"
                                                            th:text="${category.categoryName}">
                                                    </option>
                                                </th:block>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <table id="studentListTable"
                                   class="table table-fixed table-striped"
                                   th:classappend="${hasStudent} ? 'table-hover'">
                                <thead>
                                <tr>
                                    <th class="text-center cell--twenty">
                                        <span> Eleve </span>
                                    </th>
                                    <th class="text-center cell--twenty">
                                        <span> Registre national </span>
                                    </th>
                                    <th class="text-center cell--twenty">
                                        <span> Catégorie </span>
                                    </th>
                                    <th class="text-center cell--twenty">
                                        <span> Adresse </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="list" id="studentList">
                                <th:block th:if="${hasStudent}">
                                    <tr th:id="${'student' + row.index}" th:each="st, row : ${subscriptionStudentList}"
                                        class="js-row-link-alt listStudent">
                                        <td align="center">
                                        <span class="my-4 text-uppercase"
                                              th:text="${st?.student?.firstName} + ' ' + ${st?.student?.name}"></span>
                                        </td>
                                        <td align="center">
                                            <span data-inputmask-alias="fh_rrn"
                                                  th:text="${st?.student?.nationalRegistry}"></span>
                                        </td>
                                        <td align="center">
                                            <input th:id="${'cat' + row.index}" type="hidden"
                                                   th:value="${st?.categories?.idCategory}">
                                            <span class="my-4 text-uppercase"
                                                  th:text="${st?.categories?.categoryName}"></span>
                                        </td>
                                        <td align="center">
                                            <span th:text="${st?.student?.address?.street}+ ' - '+ ${st?.student?.address?.number}"></span>
                                            <span class="my-4 text-uppercase"
                                                  th:text="${st?.student?.address?.city?.postalCode}+ '  '+ ${st?.student?.address?.city?.cityName}"></span>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                </th:block>
                <th:block th:unless="!${#lists.isEmpty(subscriptionStudentList)}">
                    <h5 class="align-content-center text-center">La liste des éleves est vide </h5>
                </th:block>
                <form>
                    <div class="card-footer">
                        <div class="row align-items-end justify-content-end">
                            <div class="col-auto">
                                <input id="impression" name="impression" class="btn btn-dark" type="button"
                                       onclick="printPage()"
                                       value="Imprimer"/>
                            </div>
                        </div>
                    </div>
                </form>
            </th:block>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/club/studentList.js}"></script>
<footer th:replace="footer">
</footer>
</body>
</html>