<div id="addAddress" class="modal" role="dialog" xmlns:th="http://www.thymeleaf.org">
    <form id="idAddAddressForm" class="form-horizontal" method="post"
          th:action="@{/admin/address/addAddress}" name="address" th:object="${address}">
        <input type="hidden" th:field="*{id}">
        <div class="form-group required col-6 col-lg-12">
            <label class="control-label" for="street"> Rue :</label>
            <input id="street" type="text" class="form-control py-4" name="street" data-placement="right"
                   maxlength="50" th:field="*{street}"/>
        </div>
        <div class="form-group required col-6 col-lg-12">
            <label class="control-label" for="number"> Numero :</label>
            <input id="number" type="text" class="form-control py-4" name="number" data-placement="right"
                   maxlength="50" th:field="*{number}"/>
        </div>
    </form>
</div>