<div xmlns:th="http://www.thymeleaf.org">

    <title> CLUB TAEKWONDO </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.1/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleoff.css}"/>

    <!-- Always Load jQuery First -->
    <!--    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>-->
    <!--    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>-->
    <!--    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js}"></script>-->


</div>
