<div xmlns:th="http://www.thymeleaf.org">

    <title> CLUB TAEKWONDO </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"
          rel="stylesheet" media="screen"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/styleoff.css}"/>
    <!-- Always Load jQuery First -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <!-- Handsontable -->
    <script type="text/javascript"
            th:src="@{/js/handsontable/jquery.handsontable.full.js}"></script>

</div>
