<div xmlns:th="http://www.thymeleaf.org">

    <title> CLUB TAEKWONDO </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-timepicker/0.2.3/css/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.1/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleoff.css}"/>

    <!-- Always Load jQuery First -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>


</div>
