<div xmlns:th="http://www.thymeleaf.org">

    <div class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="../static/images/img1.jpg" th:src="@{/static/images/img1.jpg}">
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a th:href="@{/admin/category/categoryList}" class="nav-link">Catégories</a>
                            <a href="#" class="nav-link">Ecoles</a>
                            <a th:href="@{/admin/coach/coachList}" class="nav-link">Entraineurs</a>
                            <a th:href="@{/admin/period/periodList}"class="nav-link">Periode d'abonnement</a>
                            <a href="#" class="nav-link">Type d'abonnement</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>