<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
</head>
<body>
<header th:replace="header">
</header>
<main>
    <th:block>
        <div>
            <img th:src="@{/images/merci.jpg}" class="img-card">
        </div>
    </th:block>
    <th:block>
        <div class="row justify-content-center">
            <div class="col-lg-8 pt-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5 py-5">
                    <div class="card-header"><h1 class="text-center font-weight-light my-4 text-primary"> MERCI </h1>
                    </div>
                    <div class="card-body text-center py-xl-5">
                        <div class="row justify-content-center">
                            <p class="control-label html-editor-bold text-center text-dark"> Nous vous remercions pour
                                votre confiance. Vous pouvez consulter vos abonnements avec les horaires en tous
                                moments dans la rubrique "mes abonnements" </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</main>
<footer th:replace="footer">
</footer>
</body>
</html>