<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body class="sb-nav-fixed">
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <div class="card-body">
                <th:block th:with="hasPeriod=${!#lists.isEmpty(periodList)}">
                    <form id="periodForm" method="post">
                        <th:block th:if="!${#lists.isEmpty(periodList)}">
                            <div class="card-body card-border">
                                <table id="periodTable"
                                       class="table table-fixed table-striped"
                                       th:classappend="${hasPeriod} ? 'table-hover'">
                                    <thead>
                                    <tr>
                                        <!--                                        <th class="cell&#45;&#45;five">-->
                                        <!--                                            <input id="checkboxAll" type="checkbox"-->
                                        <!--                                                   class="js-select-all checkboxAll with-font" name="check"-->
                                        <!--                                                   data-substitute="deleteCategory"/>-->
                                        <!--                                            <label for="checkboxAll"></label>-->
                                        <!--                                        </th>-->
                                        <!--                                        <th class="cell&#45;&#45;five"></th>-->
                                        <th class="cell--seven">
                                            <span> Durée d'abonnement </span>
                                        </th>
                                        <th class="cell--twenty">
                                            <span> Déscription </span>
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="periodList">
                                    <th:block th:if="${hasPeriod}">
                                        <tr th:each="period, row : ${periodList}" class="js-row-link-alt">
                                            <!--                                            <td class="js-no-link">-->
                                            <!--                                                <input type="checkbox" th:id="${'checkbox' + row.index}"-->
                                            <!--                                                       name="categoriesList[]" th:value="${'/'+ category?.id}"-->
                                            <!--                                                       class="checkboxGroup with-font"/>-->
                                            <!--                                                <label th:for="${'checkbox' + row.index}"></label>-->
                                            <!--                                            </td>-->
                                            <!--                                            <td>-->
                                            <!--                                                <a th:href="${'/'+ category?.id}"-->
                                            <!--                                                   class="js-row-target"></a>-->
                                            <!--                                            </td>-->
                                            <td>
                                                <span th:text="${period?.period}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${period?.description}"></span>
                                            </td>
                                            <td>
                                                <a th:href="${'edit/'+ period?.id}"
                                                   class="btn btn-link fa fa-edit"></a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </th:block>
                        <th:block th:unless="!${#lists.isEmpty(periodList)}">
                            <h5 class="align-content-center">Aucun type d'abonnement </h5>
                        </th:block>
                        <div class="row align-items-end justify-content-end">
                            <!--                            <div th:if="!${#lists.isEmpty(periodList)}">-->
                            <!--                                <button id="deleteCategory" class="fa fa-trash"-->
                            <!--                                        data-target="#categoryForm"> Supprimer-->
                            <!--                                </button>-->
                            <!--                            </div>-->
                            <a th:href="@{addPeriod}" type="button" class="btn btn-dark"> Ajouter </a>
                        </div>
                    </form>
                </th:block>
                <!--                <th:block th:with="isOneCategory=${false}">-->
                <!--                    <th:block th:replace="deleteCategoryConfirmation"></th:block>-->
                <!--                </th:block>-->
            </div>
        </div>
    </main>
    <!--    <span id="js-template-global" th:attr="data-delete-guaranty-url=@{/admin/category/delete}"></span>-->
    <!--    <script type="text/javascript" th:src="@{/static/js/club/category.js}"></script>-->
</div>
<footer th:replace="footer"></footer>

</body>
</html>