<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"></head>
<body class="sb-nav-fixed">
<header th:replace="headerAdmin">
</header>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid" th:with="hasType = ${type.idType != null}">
            <form id="idAddTypeForm" class="form-horizontal" method="post" th:object="${type}"
                  th:action="@{(${hasType ? '/admin/type/edit' : '/admin/type/addType'})}" name="type">

                <input type="hidden" th:field="*{idType}">
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="type"> Type d'abonnement :</label>
                    <input id="type" type="text" class="form-control py-4" name="type" data-placement="right"
                           maxlength="50" th:field="*{nbrHours}"/>
                </div>
                <div class="form-group required col-6 col-lg-8">
                    <label class="control-label" for="description">Déscription du type :</label>
                    <input id="description" type="text" class="form-control py-4" name="description"
                           data-placement="right"
                           maxlength="50"
                           th:field="*{description}"/>
                </div>
                <div class="card-footer">
                    <div class="row align-items-end justify-content-end">
                        <div class="col">
                            <p class="disclaimer red font-weight-bold m-0"></p>
                        </div>
                        <div class="col-auto">
                            <a th:href="@{/admin/type/typeList}" class="btn btn-dark"> Précédent </a>
                        </div>
                        <div class="col-auto">
                            <button th:if="*{idType == null}" id="saveButton" type="submit" class="btn btn-dark">
                                Ajouter
                            </button>

                            <button th:unless="*{idType == null}" id="editButton" type="submit" class="btn btn-dark">
                                Modifier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<div class="footer-admin">
    <footer th:replace="footerAdmin"></footer>
</div>
</body>
</html>